<h1  style="padding-top: 10px; color: rgb(143, 231, 56);" class=" text-center">
  SaFhet El TalaBat
</h1>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="talabat" class="w-100">

    <!-- Position Column -->
    <ng-container matColumnDef="firstName">
      <th class="text-center" mat-header-cell *matHeaderCellDef> firstName </th>
      <td mat-cell *matCellDef="let x"> {{x.firstName}} </td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="lastName">
      <th class="text-center" mat-header-cell *matHeaderCellDef> LastName </th>
      <td mat-cell *matCellDef="let x"> {{x.lastName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th class="text-center" mat-header-cell *matHeaderCellDef> email </th>
      <td mat-cell *matCellDef="let x"> {{x.email}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="mobile">
      <th class="text-center" mat-header-cell *matHeaderCellDef> mobile </th>
      <td mat-cell *matCellDef="let x"> {{x.mobile}} </td>
    </ng-container>

    <ng-container matColumnDef="nationalId">
      <th class="text-center" mat-header-cell *matHeaderCellDef> nationalId </th>
      <td mat-cell *matCellDef="let x"> {{x.nationalId}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th class="text-center" mat-header-cell *matHeaderCellDef> address </th>
      <td mat-cell *matCellDef="let x"> {{x.address}} </td>
    </ng-container>
    <ng-container matColumnDef="currentState">
      <th class="text-center" mat-header-cell *matHeaderCellDef> currentState </th>
      <td mat-cell *matCellDef="let x"> {{x.currentState}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th class="text-center" mat-header-cell *matHeaderCellDef> type </th>
      <td class="text-center" mat-cell *matCellDef="let x"> {{x.type}} </td>
    </ng-container>

    <ng-container matColumnDef="receiveNewsLetters">
      <th  class="text-center" mat-header-cell *matHeaderCellDef> receiveNewsLetters </th>
      <td class="text-center" mat-cell *matCellDef="let x"> {{x.receiveNewsLetters}} </td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th class="text-center" mat-header-cell *matHeaderCellDef> Action </th>
      <td  mat-cell *matCellDef="let x">
         <button class="btn btn-danger" (click)="OnRejictClick(x)"> Reject </button>
          &nbsp;
         <button class="btn btn-success" (click)="OnPassClick(x)"> Pass</button>
      </td>
    </ng-container>

    <tr class="text-center" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="text-center" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
