<nav class="navbar navbar-expand-lg navbar-dark " style="background-color:rgba(14, 83, 8, 0.4) ;">
  <div class="container-fluid">
    <form class="d-flex">
      <a style="color: rgb(4, 255, 0); text-decoration: none;" routerLink="SignOrRegister" href="#" role="button">تسجيل الدخول
        <span class="visually-hidden">(current)</span>
      </a> &nbsp;
      <input class="form-control me-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <mat-icon role="button" routerLink="talabat" [matBadge]="notifications" matBadgeColor="warn">
      notifications
      </mat-icon>
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
  </div>
  <div class="collapse navbar-collapse " style="margin-right: 30px; width:750px;" id="navbarColor01">
    &nbsp;
    <ul class="navbar-nav me-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">الخدمات </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="khedma" href="#">طلب خدمة </a>
          <a class="dropdown-item" routerLink="talabastate"href="#">متابعة طلب </a>
          <a class="dropdown-item" href="#">كيفية طلب خدمة </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" href="#">تواصل معنا </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="DashBoard" href="#">DashBoard</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " routerLink="PoliceMan" href="#">الراجل بتاع البوليس</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="talabat" href="#">الطلبات</a>
      </li>
      <li class="nav-item">
      <a class="nav-link active" href="#">الرئيسية

        </a>
      </li>
    </ul>

  </div>
  <a class="navbar-brand" href="#" style="font-family: Arial, Helvetica, sans-serif; font-size: 30px;">منصة خدمات السياحة </a>

</nav>
<router-outlet></router-outlet>
